
/* NAVIGATION */

.navbar {
  /* width: 95%; */
  /* box-shadow: 0px 5px 0px #dedede; */
  animation: 1s ease-out 0s 1 slideInFromTop;
  padding:0 ;
  margin: 1.45vh 2.5vh   !important;
  margin-top: 2.2vh !important;
   height: 4vh;

}

.h1i {
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(13, 100, 195) !important;
  font-size: 2.5vh;
  font-family: 'Raleway', sans-serif !important;
  padding-bottom: .45vh !important;
  border-bottom: 0.09em solid rgb(235, 222, 176);
  margin-bottom: .2vh;
  letter-spacing: .12vw;
  
}

.header-item {
  grid-column: 1/-1;
}

.h2i {
  font-family: "Lato", sans-serif !important;
  color: orange !important;
  padding-top: 0 !important;
  font-size: 1em !important;
  letter-spacing: .035vw
}

.nav-link {
  position: relative;
  transition: all 0.5s;
}

.nav-item {
  /* font-family: "Kanit", sans-serif !important; */
  font-size: 0.8em;
}

.nav-link:after,
.nav-link:before {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(222, 230, 63) !important;
  height: 1px !important;
}

.nav-link:hover,
.btn:hover {
  z-index: 1;
   color:orange;
   border:0
}

.nav-link:hover:after {
  z-index: -10;
  width: 100%;
  font-weight: 900;
  opacity: 1;
}

.btn {
   color: rgb(13, 100, 195);
 }

/* animation: nav-logo-spin infinite 20s linear; */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
