#navimg {
    width: 50px;
    height: 50px;
  }
  
  /* NAVIGATION */

.nav-tabs{
    display :grid;
    grid-gap:0;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
    font-size: 1.4em !important;
    border-top: 10px !important;
    list-style: none;
    
       }

       .nav-tab.active{
        border: 0px solid white;
       }


  /* Name of tabs */
  .nav-link {
    position: relative;
    transition: all .5s;
    /* color: #aaa; */
    color: rgb(13, 100, 195);
        
  }
  .nav-item {
    font-family: 'Lato', sans-serif !important;
    /* font-family: 'Kanit', sans-serif !important; */
    font-size: 0.8em;
    letter-spacing: .04em;
     
  }

  .nav-link:after,
  .nav-link:before {
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: rgb(235, 222, 176) !important;
    height: 1px !important;
  }
  .fas:hover , .fas:after, .fas:before {
      color: black;
     
  }
  
  /* on hover text color */
  .nav-link:hover {
    z-index: 1;
    /* color:  rgb(13, 100, 195) !important; */
    color: orange;
  
  }
  
  .nav-link:hover:after {
    z-index: -10;
    width: 100%;
    font-weight: 900;
    opacity: 1;
  }
  
  /* Keyframes */
  @keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  