/* NAVIGATION */

.nav-tabs {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
  font-size: 1.3em !important;
   list-style: none;
   color: rgb(13, 100, 195) !important;
   font-family: 'Raleway', sans-serif !important;
   border: 10px !important;
}

.nav-tab, a{
  /* border: 0px solid white; */
  color: rgb(13, 100, 195) !important;
}

.nav-tab:active{
  border:0
}
/* Name of tabs */
.nav-link {
  position: relative;
  transition: all 0.5s;
  /* color: #aaa; */
  /* color: rgb(13, 100, 195); */
}
.nav-item {
  font-family: 'Raleway', sans-serif !important;
  font-size: 0.8em;
}

.nav-link:after,
.nav-link:before {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(235, 222, 176) !important;
  height: 0.09em  !important;
}
.fas:hover,
.fas:after,
.fas:before {
  color: black;
}

/* on hover text color */
.nav-link:hover,
.btn:hover {
  z-index: 1;
   color:orange !important;
  
}


.nav-link:hover:after {
  z-index: -10;
  width: 100%;
  font-weight: 900;
  opacity: 1;
  border:0;
}

/* Keyframes */


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
