body {
  background: white;
}
/* div.img {
  box-shadow: inset 0px 0px 40px 40px #db32a5 !important;
}*/

/* div.img:hover {
  border: 1px solid #777;
}  */

div.img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  padding: 2%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0.05em rgba(82, 82, 82, 0.153);
}

/* div.desc {
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom:0;
  text-shadow: 2px 3px 4px black;
} */

* {
  box-sizing: border-box;
}

.responsive {
  /* padding: 0 6px; */
  float: left;
  width: 24.99999%;
  /* height: 24.99999% !important; */

  position: relative;
  padding-bottom: 25%;
  /* padding: 25% 10px; */
  object-position: cover;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
    object-position: cover !important;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    object-position: cover !important;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gallery {
  width: 100%;
  clear: both;
  padding: 10px 20px;
  justify-content: center !important;
  align-content: center !important;
  background-origin: content-box;
}

.upload {
  width: 20%;
  float: left;
}

.container {
  padding-top: 50px;
}

h1 {
  text-align: center;
  background: red;
  width: 100%;
  margin-top: 10px !important;
}

.upload-button {
  padding: 10px 25px;
  font-size: 20px;
  color: brown;
  background-color: gold;
  border: 3px solid goldenrod;
}

.upload-button:hover {
  background-color: goldenrod;
  border: 3px solid gold;
}

.upload-button:active {
  outline: none;
}

.main {
  margin: 0 auto;
  padding: 20px 0;
  color: white;
  line-height: 2vh;
}

.warning {
  padding: 20px;
  color: white;
}

.warning {
  padding: 20px;
  -webkit-animation-name: warning; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 12s; /* Safari 4.0 - 8.0 */
  animation-name: warning;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes warning {
  from {
    background-color: red;
    color: white;
  }
  to {
    background-color: rgb(249, 249, 249);
    color: red;
  }
}

/* Standard syntax */
@keyframes warning {
  from {
    background-color: white;
    color: white;
  }
  to {
    background-color: red;
    color: white;
  }
}

.zoom {
  /* padding: 50px; */
  /* transition: transform 0.2s; */
  /* width: 150px; */
  height: 100px;
  /* height:100%; */
  margin: 0 auto;
  opacity: 0.5;
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.zoom:hover {
  transform: scale(1.2);
  z-index: 1;
  opacity: 1;
  height: 100%;
  -webkit-filter: none;
  filter: none;
}
