

.card{
    height: auto;
    min-height: 268px;
    margin-left: -15px;
}


.card-body{
   overflow:scroll
}
.btn-secondary{
    background: white;
    border:0;
}

.btn-secondary:hover{
   background-color: #9ca4ab3a;
}


