.app {
padding: 2vw 5vw;

}

.wrapper-container{
  margin: 3vw 10vw;
}

.h1Title{
  margin: 20px;
}

.card {
  height: 300px;
  min-height: 268px;
  /* margin-left: -15px; */
  margin: 15px;
  width: 100%;


}

.card-body {
  overflow: scroll !important;
}

.collapse{
  width: 100%;
  overflow: scroll;
}

/* CardHeader{
  
} */

.btn-secondary {
  background: NONE;
  border: 0;
}

.btn-secondary:hover {
  background-color: #9ca4ab3a;
}
