
.notification-bar
{
    font-size: 13px;
    font-weight: bold;
    position: relative;
    width: 100%;
    -webkit-transition: 300ms top ease;
    -moz-transition: 300ms top ease;
    -ms-transition: 300ms top ease;
    -o-transition: 300ms top ease;
    transition: 300ms top ease;
    text-align: center;

    color: white;
    background: rgba(241, 196, 15,.9);
}

.notification-bar.active
{

}

.notification-bar a
{
    color: white;
}