.custom-tag {
  width: 100% !important;
  height: 65vh;
}
img.slideimage {
  object-fit: cover !important;
  width: 100% !important;
  height: 65vh;
  border-radius: 0em !important;
}
.carousel {
  width: 100% !important;
  margin-bottom: 2em;
  margin-top: 1.8em;
}

.caption {
  font-family: "Lato", sans-serif !important;
  font-size: 10px;
  font-weight: 600;
  opacity: 1;
  color: white;
  text-shadow: 2px 3px 6px black;

}

.carousel-control-prev{
  height:75vh
}

.smcaption {
  font-size: 10px
}

#video {
  /* width: 600px; */
  height: 260px;
}

.h1i {
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(13, 100, 195) !important;
  font-size: 20px;
  font-family: 'Raleway', sans-serif !important;
  padding-bottom: .45vh !important;
  border-bottom: 0.09em solid rgb(235, 222, 176);
  margin-bottom: .2vh;
  letter-spacing: .12vw;
}

.h2i {
  font-family: "Lato", sans-serif !important;
  color: orange !important;
  padding-top: 0 !important;
  font-size: 10px !important;
  letter-spacing: .035vw
}

#countdown {
  margin-top: 25px;
}

/* 415px */
@media (max-width: 1280px) {
  #video {
    height: 470px;
  }
}

@media (max-width: 1024px) {
  #video {
    height: 420px;
  }
}

@media (max-width: 450px) {
  #video {
    height: 240px;
  }
}

@media (max-width: 361px) {
  #video {
    height: 190px;
  }
}