.custom-tag {
  width: 100% !important;
  height: 65vh;
}
img.slideimage {
  object-fit: cover !important;
  width: 100% !important;
  height: 65vh;
  border-radius: 0em !important;
}
.carousel {
  width: 100% !important;
  margin-bottom: 2em;
  margin-top: 1.8em;
}

.caption {
  font-family: "Lato", sans-serif !important;
  font-size: 4vh;
  font-weight: 600;
  opacity: 1;
  color: white;
  text-shadow: 2px 3px 6px black;
  position: absolute;
  bottom: 0;
}

.carousel-control-prev{
  height:75vh
}

.smcaption {
  font-size: 10px
}