

button.submit-button{
  color: rgb(13, 100, 195);
  border-radius: .3em;
  /* border: 0; */
  border: 0.1em solid rgba(199, 197, 197, 0.482) !important;
  padding: 0.3em 1.5em;
  margin: 0px 4px;
  
  font-family: 'Kanit', sans-serif !important;

  animation: 1s ease-out 0s 1;

  position: relative;
  transition: all 0.5s;
}

button.submit-button:after,
button.submit-button:before {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(222, 230, 63) !important;
  height: 0px ;
}

.submit-button:hover{
    z-index: 1;
    color:  rgb(215, 5, 5) !important;
  }

  .submit-button:hover:after {
    z-index: -10;
    width: 100%;
    font-weight: 900;
    opacity: 1;
  }