

/* NAVIGATION */
.navbar {
  width: 95%;
  /* box-shadow: 0px 5px 0px #dedede; */
  animation: 1s ease-out 0s 1 slideInFromTop;
  padding:0 ;
  margin-top: 2vh !important;
  
}
.nav-left {
 
  /* margin-left: 4px;
  
  padding: 20px 0; */
      padding: 0.3em 5.5em !important;
 
}

#navimg {
  width: 55px !important;
  height: 55px !important;
  object-fit: contain !important;

}


.nav-left-text, .nav-picture {
  float: left;
  height: 50px;
}

.h1i {
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(13, 100, 195) !important;
  font-size: 2.5vh;
  font-family: "Playfair", sans-serif !important;
  padding-bottom: .45vh !important;
  border-bottom: 0.09em solid rgb(235, 222, 176);
  margin-bottom: .2vh;
  
}

.header-item {
  grid-column: 1/-1;
}

.h2i {
  font-family: "Lato", sans-serif !important;
  color: orange !important;
  padding-top: 0 !important;
  font-size: 0.8em !important;
}

.nav-link {
  position: relative;
  transition: all 0.5s;
}

.nav-item {
  font-family: "Kanit", sans-serif !important;
  font-size: 0.8em;
}

.nav-link:after,
.nav-link:before {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgb(222, 230, 63) !important;
  height: 1px !important;
}

.nav-link:hover,
.btn:hover {
  z-index: 1;
  /* color: rgb(215, 5, 5) !important; */
  color:orange;
}

.nav-link:hover:after {
  z-index: -10;
  width: 100%;
  font-weight: 900;
  opacity: 1;
}

.btn {
  /* rgba(7, 129, 235, 0.235) */
  color: rgb(13, 100, 195);
  border-radius: 0.3em;
  /* border: 0; */
  /* border: 0.1em solid rgba(199, 197, 197, 0.482); */
  padding: 0.3em 1.5em;
  margin: 0px 4px;
  font-size: 1.8vh;
}

/* animation: nav-logo-spin infinite 20s linear; */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
